<div class="bottom-space"></div>
<form action="/create" method="POST">
    <div class="bottom-nav">
      <label for="title">.ADD MOVIE OR TV-SERIES.</label>
      <input type="text" name="title" id="title" />
      <div class="btn-add">
        <input type="submit" name="add" value="OK" id="tab" />
      </div>
    </div>
  </form>
</body>
</html>